* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* scroll-snap-type: y mandatory; */
    height: 100vh;
    background: black;
    overflow-x: hidden;
    overflow-y: hidden;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 90%;
    width: 100%;
    bottom: 0;
    /* scroll-snap-align: start; */
}

.container.in {
    transform: translateY(0);
    /* transition: transform 1s ease; */
}

.container.out {
    transform: translateY(-100%);
    /* transition: transform 1s ease; */
}


#sort-container{
    display: flex;
    flex-direction: row;
    /* height: 90%; */
    /* bottom: 0; */
    /* position: absolute; */
}

.bar {
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, rgba(22,22,22,1) 5%, rgba(210,210,210,1) 100%);
    /* background-color: lightcoral; */
    /* margin: 0 2px; */
    /* border-radius: 0px; */
}

.bar-red {
    background: linear-gradient(0deg, rgba(22,22,22,1) 5%, rgba(255,0,0,1) 100%);
}

.bar-blue {
    background: linear-gradient(0deg, rgba(22,22,22,1) 5%, rgba(0,39,255,1) 100%);
}

.bar-green {
    background: linear-gradient(0deg, rgba(22,22,22,1) 5%, rgba(16,140,30,1) 100%);
}

.button-container > button, select{
    width: 200px;
    height: 30px;
    background-color: #677685;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    transition:  0.2s ease-in-out;
}

button:hover{
    background-color: #56697b;
}
